@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #111;
  transition: 0.5s;
}

.banner.active {
  right: 300px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('./menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}
.toggle.active {
  background: url('./close.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  cursor: pointer;
}
section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00f, #f00);
  mix-blend-mode: overlay;
}

.text {
  position: absolute;
  z-index: 10;
  left: 100px;
}

.text h2 {
  font-size: 6em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  color: #fff;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  text-decoration: none;
  letter-spacing: 2px;
  transition: opacity 0.2s;
}
.text a:hover {
  opacity: 0.5;
  border-radius: 4px;
}
.sci {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.menu ul {
  position: relative;
}
.menu ul li {
  position: relative;
  list-style: none;
  text-align: center;
}
.menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  color: #111;
  margin: 10px 0;
  font-weight: 300;
  transition: 0.5s;
}
.menu ul li a:hover {
  color: #00f;
}

@media (max-width: 991px) {
  section,
  section header {
    padding: 40px 100px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
